<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">AulasOnline</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Inicio
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/cursos/listar']">
                        <span class='glyphicon glyphicon-th-list'></span> Cursos
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/cursos/novo']">
                        <span class='glyphicon glyphicon-plus'></span> Novo Curso
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/cursos/alterar/']">
                        <span class='glyphicon glyphicon-cog'></span> Editar Cursos
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/professores/listar']">
                        <span class='glyphicon glyphicon-th-list'></span> Professores
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/professores/novo']">
                        <span class='glyphicon glyphicon-plus'></span> Novo Professor
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/professores/alterar']">
                        <span class='glyphicon glyphicon-cog'></span> Editar Professores
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/materias/listar']">
                        <span class='glyphicon glyphicon-th-list'></span> Materias
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/materias/novo']">
                        <span class='glyphicon glyphicon-plus'></span> Nova Materia
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/materias/alterar']">
                        <span class='glyphicon glyphicon-cog'></span> Editar Materias
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/disciplinas/listar']">
                        <span class='glyphicon glyphicon-th-list'></span> Disciplinas
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/disciplinas/novo']">
                        <span class='glyphicon glyphicon-plus'></span> Nova Disciplina
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/disciplinas/alterar']">
                        <span class='glyphicon glyphicon-cog'></span> Editar Disciplinas
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/aulas/listar']">
                        <span class='glyphicon glyphicon-th-list'></span> Aulas
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/aulas/novo']">
                        <span class='glyphicon glyphicon-plus'></span> Nova Aula
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/aulas/alterar']">
                        <span class='glyphicon glyphicon-cog'></span> Editar Aulas
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
