<div class="container">
    <div class="row">
      <div class="col-6">
        <h2>Professores Existentes</h2>
        <div class="list-group">
          <button *ngFor="let p of professores" id="{{ p.id }}" type="button" class="list-group-item list-group-item-action" (click)="onClickForDetails($event)">{{ p.nome }}</button>
        </div>
      </div>
      <div class="col-6">
        <div *ngIf="professor.id != 0">
          <h3>Detalhes do professor</h3>
          <p>Id: {{professor.id}}</p>
          <p>Nome: {{professor.nome}}</p>
          <p>Sobrenome: {{professor.sobrenome}}</p>
          <h4>Aulas Lecionadas: </h4>
          <p *ngFor="let aula of professor.aulas" >Id: {{aula.id}} - Nome: {{aula.titulo}}</p>  
        </div>
      </div>
    </div>
  </div>